.footer {
  padding: 50px 0;

  @media (max-width: $mobile-max) {
    padding: 40px 0;
  }
}

.footer-container {
  @include container();
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-max) {
    flex-direction: column-reverse;
  }
}

.footer-copyright {
  font-size: 18px;
  font-weight: 500;
  color: $color-semilight;

  @media (max-width: $mobile-max) {
    padding: 5px 0;
  }
}

.footer-author {
  font-size: 18px;
  font-weight: 500;
  color: $color-semilight;

  @media (max-width: $mobile-max) {
    padding: 5px 0;
  }
}

.footer-author-link {
  @include text-gradient();
  display: inline-block;
  text-decoration: none;
  transition: all .2s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    opacity: .8;
  }
}


