.nav {

}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu-item {
  margin-left: 35px;
}

.nav-menu-link {
  font-size: 18px;
  font-weight: 500;
  color: $color-semilight;
  text-decoration: none;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    @include text-gradient;
  }
}
