.form {
  position: relative;
  margin: 40px auto 0 auto;
  width: 80%;
}

.form-input {
  padding: 13px 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  color: $color-light;
  background-color: $color-semidark;
  border: 2px solid $color-accent;
  border-radius: 100px;
  transition: all .2s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &::placeholder {
    color: $color-semilight;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 15px rgba($color-accent, .5);
  }

}

.form-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  height: 100%;
}
