.promo {
  padding: 125px 0 175px 0;

  @media (max-width: $tablet-max) {

  }

  @media (max-width: $mobile-max) {
    padding: 100px 0 150px 0;
  }
}

.promo-container {
  @include container();
}

.promo-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-max) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.promo-info {
  flex-basis: 50%;

  @media (max-width: $tablet-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.promo-info-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  color: $color-light;

  @media (max-width: $tablet-max) {
    margin-top: 80px;
    font-size: 32px;
    width: 85%;
    text-align: center;
  }

  @media (max-width: $mobile-max) {
    width: 100%;
    font-size: 26px;
  }
}

.promo-info-btn {
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  padding: 15px 35px;
  background: $color-gradient;
  border-radius: 100px;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s 0s cubic-bezier(0.46, 0.03, 0.52, 0.96);

  &:hover {
    box-shadow: 0 0 15px rgba($color-accent, .5);
  }

  @media (max-width: $tablet-max) {
    margin: 0 auto;
  }

  @media (max-width: $mobile-max) {

  }
}

.promo-info-btn-play {
  margin: 0 5px 0 -10px;
  width: 25px;
  height: 25px;

  @media (max-width: $tablet-max) {
    width: 23px;
    height: 23px;
  }
}

.promo-info-btn-text {
  font-size: 20px;
  font-weight: 600;
  color: $color-light;
}

.promo-cover {
  flex-basis: 40%;
}

.promo-cover-img {
  margin: 0 auto;
  max-width: 300px;
  border-radius: 15px;
  box-shadow: 15px 15px 0 rgba($color-accent, .5);

  @media (max-width: $mobile-max) {
    max-width: 250px;
    box-shadow: 10px 10px 0 rgba($color-accent, .5);
  }
}
